.custom-button {
  background   : #F7F7F7;
  border       : 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 48px;
  width        : 424px;
  height       : 96px;
  border-radius: 48px;
  margin       : 0 auto;

  font-family: PingFangSC-Regular;
  font-size  : 28px;
  color      : #333333;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  bottom: 43px;
  left: 0;
  right: 0;
}

.custom-img{
  display: inline-block;
  width: 48px;
  height: auto;
  margin-right: 22.5px;
}